/* Theme Styles - Maps GBN variables to content elements */

[data-gbn-root] {
    background-color: var(--gbn-bg);
    color: var(--gbn-text-color);
    font-family: var(--gbn-text-font);
    font-size: var(--gbn-text-size);
}

[data-gbn-root] p {
    color: var(--gbn-text-color);
    font-family: var(--gbn-text-font);
    font-size: var(--gbn-text-size);
    line-height: 1.6;
    margin-bottom: 1em;
}

[data-gbn-root] h1 {
    color: var(--gbn-h1-color);
    font-size: var(--gbn-h1-size);
    font-family: var(--gbn-text-font); /* Or specific H1 font if added */
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

[data-gbn-root] h2 {
    color: var(--gbn-h2-color, var(--gbn-h1-color));
    font-size: var(--gbn-h2-size, 2rem);
    font-family: var(--gbn-text-font);
    font-weight: 700;
    margin-bottom: 0.5em;
}

[data-gbn-root] h3 {
    color: var(--gbn-h3-color, var(--gbn-h1-color));
    font-size: var(--gbn-h3-size, 1.75rem);
    font-family: var(--gbn-text-font);
    font-weight: 600;
    margin-bottom: 0.5em;
}

[data-gbn-root] h4 {
    color: var(--gbn-h4-color, var(--gbn-h1-color));
    font-size: var(--gbn-h4-size, 1.5rem);
    font-family: var(--gbn-text-font);
    font-weight: 600;
    margin-bottom: 0.5em;
}

[data-gbn-root] h5 {
    color: var(--gbn-h5-color, var(--gbn-h1-color));
    font-size: var(--gbn-h5-size, 1.25rem);
    font-family: var(--gbn-text-font);
    font-weight: 600;
    margin-bottom: 0.5em;
}

[data-gbn-root] h6 {
    color: var(--gbn-h6-color, var(--gbn-h1-color));
    font-size: var(--gbn-h6-size, 1rem);
    font-family: var(--gbn-text-font);
    font-weight: 600;
    margin-bottom: 0.5em;
}
